


.label {
    -fx-font-size: 20px;
    -fx-text-fill: blue;
    -fx-background-color:rgb(252,233,79);
    -fx-font-weight: bold; 
}

.button {
    -fx-font-size: 20px;
    -fx-text-fill: blue;
    -fx-background-color:rgb(252,233,79);
    -fx-font-weight: bold; 
    
}



.textfield{
    -fx-font-size: 20px;
    -fx-text-fill: blue;
    -fx-background-color:rgb(252,233,79);
    -fx-font-weight: bold; 
}

.choicebox{
    -fx-font-size: 20px;
    -fx-text-fill: blue;
    -fx-background-color:rgb(252,233,79);
    -fx-font-weight: bold; 
}
